name: build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x

      - name: Restore
        run: dotnet restore ./SimplePRClient.csproj -r win-x64

      - name: Publish
        run: dotnet publish ./SimplePRClient.csproj -c Release -r win-x64 --self-contained true -o ./publish

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: SimplePRClient
          path: ./publish
